body{
    background-color: #E4F9F5;
    font-weight: 400;
}

.nav-item{
    padding-top: 50;

}

.navbar{
    padding: 20px;
}

.navbar-brand{
    font-size: 30px;
}
.nav-link{
    margin-left: 10px;
    font-size: 20px;
}

.active{
    margin-left: 1000px;
}

.text{
    text-align: left;
    word-spacing: 5px;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 40px;
}

.furm{
    list-style-type: none;
    padding-top: 100px;
}
.itum{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


.tuxt{
    text-align: left;
    word-spacing: 5px;
    padding-top: 20px;
    margin-top: 40px;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: white;
  }